*{margin: 0;padding: 0;}
a{text-decoration: none;}

/*top*/
#top{width: 100%;height: 60px;background: url(../img/top.png) right center;line-height: 60px;color: #FFFFFF;}
#top h2{margin-left: 30px;letter-spacing: 1px;float: left;}
#top div.t_right{float: right;}
#top div.t_right span{margin-right: 50px;}
#top div.t_right span a{color: #FFFFFF;text-decoration: none;}
#top div.t_right span a:hover{color: orange;font-weight: bold;}
/*top*/

/*left*/
#left{float: left; width: 16%;height: 500px;background: url(../img/left_bg.png) repeat-y right;}
#left ul{width:100%;background: #FFFFFF url(../img/left_bg.png) repeat-y right;}
#left ul li a{display: block; height: 30px;line-height: 30px;cursor: pointer;font-size: 16px;color: #666;text-indent: 30px;font-weight: bold;font-family: "microsoft yahei";background: url(../img/left.png);background-size:100% 30px;}
#left ul li ul{display: none;}
#left ul li ul li a{display: block;background: #fff; color: #066;text-indent: 50px;padding: 5px 0;background: url(../img/171.png) no-repeat 30px 11px;font-size: 15px;}
#left ul li ul li a:hover{color: #38A3D5;}
/*left*/

/*right*/
#right{float: right;width: 84%;height: 500px;}
/*right*/

/*footer*/
#footer{clear:both;width: 100%;height: 35px;line-height: 35px;background: url(../img/top.png) right center;color: #FFFFFF;}
/*footer*/
#footer .left{float: left;margin-left: 20px;}
#footer .right{float: right;margin-right: 20px;}
