*{margin: 0;padding: 0;}
body{background-color: #0066A8;}
h1{text-align: center;color: #fff;margin-top: 100px;margin-bottom: 50px;}
div.login{width: 220px;height: 220px;padding: 30px 50px 0px 330px; background: #FFFFFF url(../img/20150212154319.jpg) no-repeat 30px 40px;margin: 0 auto;}
div.login table{width: 220px;height: auto;}
td.width input{width: 100%;height:22px;margin-bottom: 10px;text-align: 22px;}
td.center{text-align: center;}
td.center input{margin:7px;}
input[type=submit],input[type=reset]{width: 90px;background: #40454B;border: none;height: 30px;color: #FFFFFF;border-radius: 5px;}
